.nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    height: var(--nav-height);
    padding: 0 40px;
}

.nav-link {
    font-size: 20px;

    margin-right: 40px;
    
    cursor: pointer;
    transition: all 0.3s;
}
