.gallery-header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;
}

.gallery-add-cont {
  display: flex;
  align-items: center;
  gap: 16px;
}

.gallery-add-cont p {
  cursor: pointer;
}

.gallery-subtitle {
  margin: 40px 0;
}
