.artist-cont {
    display: flex;
    align-items: center;
    gap: 16px;
}

.artist-image {
    border-radius: 50px;

    width: 80px;
    aspect-ratio: 3/2;

    object-fit: cover;
}

.artist-name {
    font-size: 38px;
}